%html
  %head
    %title Tempest Editor
    %meta(charset="utf-8")

    %script.env(src="javascripts/lib/coffee-script.js")
    %script.env(src="javascripts/lib/zepto.min.js")
    %script.env(src="//d1n0x3qji82z53.cloudfront.net/src-min-noconflict/ace.js")
    %script.env(src="javascripts/envweb.js")
    %script(src="javascripts/loaderweb.js")
