%html
  %head
    %title Tempest Editor
    %meta(charset="utf-8")

    %link(rel="stylesheet" type="text/css" href="style.css")

    %script(src="javascripts/lib/coffee-script.js")
    %script(src="javascripts/lib/zepto.min.js")
    %script(src="//d1n0x3qji82z53.cloudfront.net/src-min-noconflict/ace.js")
    %script(src="javascripts/loaderweb.js")
